
/* format buttons */
button,
.button  {
  border: none;
  display: inline-block;
  width: 30%;
  /* font-family: inherit;    (will add these later!)
  background-color: var(--primary-color);
  color: var(--text-color-1); */
  text-decoration: none;
  padding: 10px;
  transition: opacity 0.5s;
}

button:hover, button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.4;
}

/* format list items */
.pokemon-list {
  list-style-type: none;
}

.pokemon-list li {
  margin: 0;
  padding: 7px;
}

/* make responsive on all screen sizes */
@media all and (min-width: 500px) and (max-width: 750px) {
  button,
  .button {
    width: 50%;
  }
}

@media all and (max-width: 500px) {
  button,
  .button {
    width: 100%;
  }
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 999;
  overflow: auto;
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  background: none;
  color: #777;
  text-align: center;
  width: 25px;
  text-decoration: underline;
}


#modal-image {
  position: absolute;
  top: 50px;
  right: 75px;
}
