
/* format container */
.container, .pokemonList, .header-section {
  margin: 25px;
}

/* format header section */
.header-section {
  height: 25px;
}

/* format buttons */
button,
.button  {
  border: none;
  display: inline-block;
  width: 30%;
  text-decoration: none;
  padding: 10px;
  transition: opacity 0.5s;
}

button:hover, button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.4;
}

/* format list items */
.pokemon-list {
  list-style-type: none;
}

.pokemon-list li {
  margin: 0;
  padding: 7px;
}

/* make responsive on all screen sizes */
@media all and (min-width: 500px) and (max-width: 750px) {
  button,
  .button {
    width: 50%;
  }
}

@media all and (max-width: 500px) {
  button,
  .button {
    width: 100%;
  }
}

/* format images */
#modal-image {
  vertical-align: middle;
  float: right;
}

.pokeball {
  height: 3em;
  float: left;
  padding-right: 10px; 
}

.app-title, p {
  display: inline-block;
}
