
/* format container */
.container-fluid, .pokemonList, .header-section {
  margin: 25px;
}

html, body {
  height: 100%;
  display: flex;
}

.app-title, p {
  display: inline-block;
}

.pokemon-list {
  text-align: center;
}

.fix__top {
    position:fixed;
    top:0px;
}

.fix__bottom {
    position:fixed;
    bottom:0px;
    height: 2rem;
}

.body-section {
  position: absolute;
  top: 7rem;
  bottom: 7rem;
  right: 0;
  left: 0;
  overflow: auto;
}

/* format header section */
.app-title {
  padding-left: 3px;
}

.header-section {
  position: absolute;
  right: 0;
  left: 0;
  text-align: center;
}

/* format buttons */
button, .button  {
  border: none;
  display: inline-block;
  width: 30%;
  text-decoration: none;
  transition: opacity 0.5s;
}

button:hover, button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.4;
}

/* format list items */
.pokemon-list {
  list-style-type: none;
}

.pokemon-list li {
  margin: 0;
  padding: 7px;
}

/* make responsive on all screen sizes */
@media all and (min-width: 750px) {
  button,
  .button {
    width: 25%;
  }
  .fix__bottom {
    width: 100%;
  }
  .header-section {
    width: 95%;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  button, .button {
    width: 50%;
  }
  .header-section {
    width: 80%;
  }
}

@media all and (max-width: 500px) {
  button, .button {
    width: 65%;
  }
  .header-section {
    height: 70%;
  }
}

/* format images */
/* #modal-image {
  vertical-align: middle;
  float: right;
} */

.pokeball {
  height: 3rem;
  padding-right: 3px;
  vertical-align: top;
}

.card-img__bottom {
  right: 0;
  left: 0;
  height: 10rem;
}

.card-img__bottom {
  z-index: -1;
}
